@tailwind base;
@tailwind components;
@tailwind utilities;



* {
    font-family: 'Poppins', sans-serif;
}
html, body {
    background: #F0F4FC;
}
.logo {
    font-family: Kaushan Script,cursive;
}
.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #fff;
    border-bottom-color: #E74C1B;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }